@import url(../fonts/Simplon BP/OTF/SimplonBP-Light.otf)
@import url(../ffonts/Simplon BP/OTF/SimplonBP-Regular.otf)
@import url(../fonts/Simplon Oi Headline/OTF/SimplonOi-Headline.otf)
    
@font-face {
    font-family: 'SimplonBP-Light';
    src : url(../fonts/Simplon BP/OTF/SimplonBP-Light.otf);
}

@font-face {
    font-family: 'SimplonBP-Regular';
    src : url(../fonts/Simplon BP/OTF/SimplonBP-Regular.otf)
}

@font-face {
    font-family: 'SimplonOi-Headline';
    src : url(../fonts/Simplon Oi Headline/OTF/SimplonOi-Headline.otf)
}

* {
    margin: 0;
    padding: 0;
}

html { 
    height:100%; 
    width: 100%;
    background: #431e9a;
    background: -moz-linear-gradient(-45deg, #431e9a 0%, #9f24ff 0%, #9f24ff 0%, #00ceff 100%);
    background: -webkit-linear-gradient(-45deg, #431e9a 0%,#9f24ff 0%,#9f24ff 0%,#00ceff 100%);
    background: linear-gradient(135deg, #431e9a 0%,#9f24ff 0%,#9f24ff 0%,#00ceff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#431e9a', endColorstr='#00ceff',GradientType=1 );
    
    background-repeat: no-repeat;
    
}


body{
    
    min-height: 100%; /* full height */
    
    position:absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    left:0;
}

/* main container */
.main{
    width:  355px;
    height:  385px;
    
    display: block;
    
    /* browsers that dont render gradient */
    background-color: transparent; 
}

/* the logo on top screen */
.oi_play_logo{
    position: absolute;
    margin-top: 20px;
    margin-left:  31px;
}

/* first text on top */
.acesse_com_login{
    position: absolute;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    text-align: left;
    color: white;
    margin-top: 90px;
    margin-left:  31px;
    font-weight: 100;
}

/* input text to e-mail and cpf */
.email-cpf-input{
    position: absolute;
    margin-top: 111.8px;
    margin-left:  31px;
    padding: 0;
    font-weight: 100;
}

/* input text to password */
.password-input{
    position: absolute;
    margin-top: 167px;
    margin-left:  31px;
    padding: 0;
    font-weight: 100;
}

/* for the two inputs on screen */
input[type=text],input[type=password]{
    border: 1px solid #909090 !important;
    padding-left: 20px !important;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #222222;
}

/* disable border on focus */
input:focus{
    outline: none;
}



/* the button "Entrar" */
.btn-start{
    background-color: #ffa801;
    position: absolute;
    margin-left: 31px;
    margin-top: 230.2px;
    padding: 0 !important;
    border: "white" !important;
    border-width: 0px !important;
    width : 294px;
    height: 54.9px;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #222222;
    font-weight: 100;
}

.btn-start:active,focus{
    background-color: #ffb401;
}

/* the text Ainda nao tem cadastro */
.no_record{
    position: absolute;
    width : 294px;
    margin-left: 31px;
    margin-top: 304px;
    color: white !important;
    font-family: "SimplonBP-Light";
    font-size: 14px;
}

/* the button register */
.btn-register{
    width : 294px;
    height: 40.8px;
    margin-left: 31px;
    background-color: transparent;
    color: white;
    font-family: "SimplonBP-Light";
    font-size: 14px;
    position: absolute;
    margin-left: 31px;
    margin-top: 325.2px;
    border : white solid 1px;
    border-color : white;
    border-width: 1px;
}

.btn-register:active{
    background-color: white;
    color: #222222;
    border-width: 0px;
}

/* button to "esqueceu" */
.btn_forgot{
    position: absolute;
    margin-left: 237px;
    margin-top: 190.5px;
    border: none;
    background-color: white;
    text-decoration: underline;
    font-family: "SimplonBP-Light";
    font-size: 11px;
    color : #909090;
}

/* disable button border on focus, hover and active */
button:hover {
    outline:none;
}

button:active {
    outline:none;
}

button:focus {
    outline:none;
}


/* change placeholder for input */
::-webkit-input-placeholder {
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #909090;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #909090; 
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: "SimplonBP-Light";
    font-size: 14px;
    color: #909090;  
}

:-ms-input-placeholder {  
    font-family: "SimplonBP-Regular";
    font-size: 14px;
    color: #909090;  
}

/* hide placeholder on focus */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/* hide btn_forgot when password has focus */
input.password-input:focus + button.btn_forgot {
  display: none;
}

@media only screen 
and (min-width : 1024px) {
    
    /* change the main containt width */
    .main {
        width: 30%;
        margin: 1em auto;
    }
    
    
    /* define default size of inputs */
    .default-size{
        width : calc(30% - 20px) !important;
        height: 56px;
    }
    
    
    .btn-register,.btn-start{
        width : 30% !important;
    }
    
    .btn_forgot{
        margin-left: calc(30% - 62px)
    }
    
}

@media only screen 
and (max-width : 1024px) {
    .main {
        width: 100%;
        margin: 1em auto;
    }
    
    /* define default size of inputs */
    .default-size{
        width : calc(100% - 91px);
        height: 56px;
    }
    
    input{
        width : calc(100% - 31px);
        height: 56px;
        margin-right: 31px;
    }
    
    .btn-register,.btn-start{
        width : calc(100% - 70px);
    }
    
    .btn_forgot{
        margin-left: calc(100% - 130px)
    }
    
}


@media only screen 
and (max-width : 480px) {
    
    .main {
        position:fixed; /* fix issues when screen is below of 480px */
        padding:0;
        margin:0;

        top:0;
        left:0;

        width: 100%;
    }
    
    body {
        width: 100%;
        margin: 0;
    }
    
    
}

